@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --slotHeight: 60px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.tournamentWrapper {
  max-height: 55vh;
  overflow: auto;
}
.tournamentBlockWrapper__even.tournamentBlockWrapper,
.tournamentBlockWrapper__even .tournamentRoundWrapper {
  flex-direction: row-reverse;
}
.blockWiner {
  width: 100%;
  min-width: 50px;
  height: 50%;
  margin-top: auto;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
}
.blockWiner.tournamentBorder__RightNone {
  border-right: none;
}
.tournamentBlockWrapper__65-128 .blockWiner {
  margin-top: 0;
  margin-bottom: auto;
  transform: scale(1, -1);
}
.tournamentBlockWrapper__even.tournamentBlockWrapper__65-128 .blockWiner {
  transform: scale(-1, -1);
}

.tournamentRound {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  width: 50px;
  /* position: relative;
  left: 300%; */
}

.tournamentRoundWrapper {
  /* overflow-x: auto; */
  min-width: max-content;
}

.tournamentRoundWrapper > div:first-child {
  width: 250px;
  min-width: max-content;
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
}

.slotWrapper {
  height: var(--slotHeight);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem;
  gap: 1rem;
}
.slotWrapper > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.tournamentBorderWrapper, 
.tournamentBorderWrapper_bottom, 
.tournamentBorderWrapper_top, 
.tournamentBorderWrapper_bottom_lv3_1, 
.tournamentBorderWrapper_bottom_lv3_2,
.tournamentBorderWrapper_bottom_lv3_3,
.tournamentBorderWrapper_top_lv3_1,
.tournamentBorderWrapper_top_lv4_1,
.tournamentBorderWrapper_top_lv4_2,
.tournamentBorderWrapper_top_lv4_3,
.tournamentBorderWrapper_lv3_1 {
  display: flex;
  flex-direction: column;
  /* height: calc(var(--slotHeight) + 10px); */
  height: calc(var(--slotHeight));
  width: 100%;
  /* margin: calc((var(--slotHeight) + 10px) / 2) 0; */
  margin: calc(var(--slotHeight) / 2) 0;
}

.Round-2 .tournamentBorderWrapper {
  /* height: calc((var(--slotHeight) + 10px) * 2);
  margin: calc(var(--slotHeight) + 10px) 0; */
  height: calc(var(--slotHeight) * 2);
  margin: calc(var(--slotHeight)) 0;
}
.Round-3 .tournamentBorderWrapper {
  height: calc((var(--slotHeight)) * 4);
  margin: calc((var(--slotHeight)) * 2) 0;
}
.Round-4 .tournamentBorderWrapper {
  height: calc((var(--slotHeight) + 10px) * 8);
  margin: calc((var(--slotHeight) + 10px) * 4) 0;
}
.Round-5 .tournamentBorderWrapper {
  height: calc((var(--slotHeight) + 10px) * 16);
  margin: calc((var(--slotHeight) + 10px) * 8) 0;
}

.Round-6 .tournamentBorderWrapper {
  height: calc((var(--slotHeight) + 10px) * 32);
  margin: calc((var(--slotHeight) + 10px) * 16) 0;
}

.Round-7 .tournamentBorderWrapper {
  height: calc((var(--slotHeight) + 10px) * 64);
  margin: calc((var(--slotHeight) + 10px) * 32) 0;
}

.Round-2 .tournamentBorderWrapper_bottom {
  height: calc((var(--slotHeight) + 10px) * 1.5);
  margin-bottom: 72px;
}

.Round-3 .tournamentBorderWrapper_bottom {
  height: calc((var(--slotHeight) + 10px) * 2.75);
  margin-bottom: 14px;
}

.Round-3 .tournamentBorderWrapper_odd_top {
  margin-top: 47px;
}

.Round-3 .tournamentBorderWrapper_odd_top_lv3_1 {
  margin-top: 54px;
  margin-bottom: 118px;
}

.Round-3 .tournamentBorderWrapper_odd_top_lv3_2 {
  margin-top: 11px;
  margin-bottom: 104px;
}

.Round-3 .tournamentBorderWrapper_odd_top_lv3_3 {
  margin-top: 76px;
  margin-bottom: 104px;
}

.Round-3 .tournamentBorderWrapper_bottom_lv3_1 {
  height: 166px;
  margin-bottom: 12px;
}

.Round-3 .tournamentBorderWrapper_bottom_lv3_2 {
  height: 181px;
  margin-bottom: -31px;
}

.Round-3 .tournamentBorderWrapper_bottom_lv3_3 {
  height: 182px;
  margin-top: 120px;
  margin-bottom: -5px;
}

.Round-3 .tournamentBorderWrapper_lv3_1 {
  height: calc((var(--slotHeight)) * 3.78);
  margin-bottom: 71px;
}

.Round-3 .tournamentBorderWrapper_lv3_1 {
  height: calc((var(--slotHeight)) * 3.78);
  margin-bottom: 71px;
}

.Round-3 .tournamentBorderWrapper_top_lv3_1 {
  height: calc((var(--slotHeight) + 2px) * 1.5);
  margin-bottom: 59px;
}

.Round-4 .tournamentBorderWrapper_top_lv4_1 {
  height: 319px;
  margin-bottom: 103px;
}

.Round-4 .tournamentBorderWrapper_top_lv4_2 {
  height: 332px;
  margin-bottom: 60px;
}

.Round-4 .tournamentBorderWrapper_top_lv4_3 {
  height: 348px;
  margin-bottom: 192px;
}

.Round-2 .tournamentBorderWrapper_top {
  height: calc((var(--slotHeight) + 2px) * 1.5);
  margin-bottom: 59px;
}

.Round-2 .tournamentBorderWrapper_odd_bottom {
  margin: 59px 0px !important;
}

.tournamentBorderWrapper_odd_top, 
.tournamentBorderWrapper_odd_bottom,
.tournamentBorderWrapper_odd_top_lv3_1,
.tournamentBorderWrapper_odd_top_lv3_2,
.tournamentBorderWrapper_odd_top_lv3_3 {
  display: flex;
  flex-direction: column;
  /* height: calc(var(--slotHeight) + 10px); */
  width: 100%;
  /* margin: calc((var(--slotHeight) + 10px) / 2) 0; */
  margin: calc((var(--slotHeight)) / 2) 0;
}

.tournamentBlockWrapper__even .tournamentBorder {
  transform: scale(-1, 1);
}

.tournamentBorderWrapper > div {
  min-height: 10px;
  height: 100%;
}
.tournamentBorderWrapper_odd_top > div, 
.tournamentBorderWrapper_odd_bottom > div,
.tournamentBorderWrapper_odd_top_lv3_1 > div,
.tournamentBorderWrapper_odd_top_lv3_2 > div,
.tournamentBorderWrapper_odd_top_lv3_3 > div {
  min-height: 10px;
  /* height: 100%; */
}
.tournamentBorderWrapper_bottom > div, 
.tournamentBorderWrapper_top > div, 
.tournamentBorderWrapper_bottom_lv3_1 > div, 
.tournamentBorderWrapper_bottom_lv3_2 > div,
.tournamentBorderWrapper_bottom_lv3_3 > div,
.tournamentBorderWrapper_top_lv3_1 > div,
.tournamentBorderWrapper_top_lv4_1 > div,
.tournamentBorderWrapper_top_lv4_2 > div,
.tournamentBorderWrapper_top_lv4_3 > div,
.tournamentBorderWrapper_lv3_1 > div {
  min-height: 10px;
  height: 100%;
}

.tournamentBorder_top {
  border-top: 2px solid #000;
  border-right: 2px solid #000;
}
.tournamentBorder_buttom {
  border-bottom: 2px solid #000;
  border-right: 2px solid #000;
}
.tournamentBorder_center::before {
  content: "";
  height: 2px;
  width: 100%;
  background-color: #000;
  position: absolute;
  top: calc(50% - 1px);
}
.slotInfoWrap {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}
.slotInfoWrap p {
  white-space: pre;
}
.odd-member-css {
  margin: 35px 0px !important;
}
.tournamentBorder_mid {
  border-bottom: 2px solid #000 !important;
}
.tournamentOdd {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 2px !important;
  align-items: center;
}
.hr-divider {
  border: none;
  background-color: #000;
  height: 2px;
  width: 100%;
}